@import "tailwind/_base.css";
@import "tailwind/_components.css";
@import "tailwind/_utilities.css";

a {
  color: rgba(0, 79, 250, 0.76);
}


body {
  min-height: 100vh;
  background: rgba(226, 232, 240, 0.48);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
   font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; 
}
